<!-- Navigation -->
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="homepage">Home</a>
          </li>
          
         <li class="nav-item">
            <a class="nav-link" routerLink="aboutus">AboutUs</a>
          </li> 
          <li class="nav-item">
            <a class="nav-link" routerLink="categories">Categories</a>
          </li> 
         <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" routerLink="categories" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Categories
            </a>
            <ul  class="dropdown-menu">
              <li><a class="dropdown-item" href="succulents">Succulents</a></li>
              <li><a class="dropdown-item" href="bonsai">Bonsai Plants</a></li>
              <li><a class="dropdown-item" href="floweringplants">Flowering Plants</a></li>
              <li><a class="dropdown-item" href="creepers">Creepers</a></li>
              <li><a class="dropdown-item" href="herbs">Herbs</a></li>
              <li><a class="dropdown-item" href="aromaticplants">Aromatic Fragrant Plants</a></li>
           </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" routerLink="soiland-fertilizer" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Soil And Fertilizers
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="organicfertilizer">Organic Fertilizers</a></li>
              <li><a class="dropdown-item" href="pottingsoil">Potting Soil</a></li>
              <li><a class="dropdown-item" href="cocopeat">Cocopeat</a></li>
              <li><a class="dropdown-item" href="soiladditives">Soil Additives</a></li>
              
           </ul>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" routerLink="soilandfertilizers">soil&fertilizers</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" routerLink="registration">Registration</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="contact">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="feedback">Feedback</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="services">Services</a>
          </li>
        
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        <li class="nav-item">
          <a class="nav-link" routerLink="login">Login</a>
        </li>
      </ul>
      </div>
    </div>
  </nav>
