<div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/assets/img/newhome2.jpg" style="height: 550px;" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/assets/img/home8.jpg" style="height: 550px;" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/assets/img/home2.jpg" style="height: 550px;" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/assets/img/newhome4.png" style="height:550px;" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  
  
  
  
 
  <footer class="text-center text-white" style="background-color: #caced1;">
    <!-- Grid container -->
    <div class="container-fluid p-3">
      <!-- Section: Images -->
      <section class="">
        <div class="row foot-image">
          <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
            <div
              mdbRipple
              rippleColor="light"
              class="bg-image hover-overlay ripple shadow-1-strong rounded "
            >
              <img
                src="/assets/img/flowering6.jpeg"
                class="w-100"
              />
              <a href="categories">
                <div
                  class="mask"
                  style="background-color: rgba(251, 251, 251, 0.2);"
                ></div>
              </a>
            </div>
          </div>
          <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
            <div
              mdbRipple
              rippleColor="light"
              class="bg-image hover-overlay ripple shadow-1-strong rounded"
            >
              <img
                src="/assets/img/lilac.jpg"
                class="w-100"
              />
              <a href="#!">
                <div
                  class="mask"
                  style="background-color: rgba(251, 251, 251, 0.2);"
                ></div>
              </a>
            </div>
          </div>
          <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
            <div
              mdbRipple
              rippleColor="light"
              class="bg-image hover-overlay ripple shadow-1-strong rounded"
            >
              <img
                src="/assets/img/cr5.jpg"
                class="w-100"
              />
              <a href="#!">
                <div
                  class="mask"
                  style="background-color: rgba(251, 251, 251, 0.2);"
                ></div>
              </a>
            </div>
          </div>
          <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
            <div
              mdbRipple
              rippleColor="light"
              class="bg-image hover-overlay ripple shadow-1-strong rounded"
            >
              <img
                src="/assets/img/flowering4.jpg"
                class="w-100" height="110px"
              />
              <a href="#!">
                <div
                  class="mask"
                  style="background-color: rgba(251, 251, 251, 0.2);"
                ></div>
              </a>
            </div>
          </div>
          <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
            <div
              mdbRipple
              rippleColor="light"
              class="bg-image hover-overlay ripple shadow-1-strong rounded"
            >
              <img
                src="/assets/img/brahmiherb.jpg"
                class="w-100" height="110px"
              />
              <a href="#!">
                <div
                  class="mask"
                  style="background-color: rgba(251, 251, 251, 0.2);"
                ></div>
              </a>
            </div>
          </div>
          <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
            <div
              mdbRipple
              rippleColor="light"
              class="bg-image hover-overlay ripple shadow-1-strong rounded"
            >
              <img
                src="/assets/img/cr1.jpg"
                class="w-100" height="110px"
              />
              <a href="#!">
                <div
                  class="mask"
                  style="background-color: rgba(251, 251, 251, 0.2);"
                ></div>
              </a>
            </div>
          </div>
          <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
            <div
              mdbRipple
              rippleColor="light"
              class="bg-image hover-overlay ripple shadow-1-strong rounded "
            >
              <img
                src="/assets/img/ROSEF.jpg"
                class="w-100" height="110px"
              />
              <a href="#!">
                <div
                  class="mask"
                  style="background-color: rgba(251, 251, 251, 0.2);"
                ></div>
              </a>
            </div>
          </div>
          <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
            <div
              mdbRipple
              rippleColor="light"
              class="bg-image hover-overlay ripple shadow-1-strong rounded "
            >
              <img
                src="/assets/img/bonsai4.jpg"
                class="w-100" height="110px"
              />
              <a href="#!">
                <div
                  class="mask"
                  style="background-color: rgba(251, 251, 251, 0.2);"
                ></div>
              </a>
            </div>
          </div>
          <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
            <div
              mdbRipple
              rippleColor="light"
              class="bg-image hover-overlay ripple shadow-1-strong rounded "
            >
              <img
                src="/assets/img/flowering5.jpg"
                class="w-100" height="110px"
              />
              <a href="#!">
                <div
                  class="mask"
                  style="background-color: rgba(251, 251, 251, 0.2);"
                ></div>
              </a>
            </div>
          </div>
          <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
            <div
              mdbRipple
              rippleColor="light"
              class="bg-image hover-overlay ripple shadow-1-strong rounded "
            >
              <img
                src="/assets/img/redplumeria.jpg"
                class="w-100" height="110px"
              />
              <a href="#!">
                <div
                  class="mask"
                  style="background-color: rgba(251, 251, 251, 0.2);"
                ></div>
              </a>
            </div>
          </div>
          <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
            <div
              mdbRipple
              rippleColor="light"
              class="bg-image hover-overlay ripple shadow-1-strong rounded "
            >
              <img
                src="/assets/img/succulent5.jpeg"
                class="w-100" height="110px"
              />
              <a href="#!">
                <div
                  class="mask"
                  style="background-color: rgba(251, 251, 251, 0.2);"
                ></div>
              </a>
            </div>
          </div>
          <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
            <div
              mdbRipple
              rippleColor="light"
              class="bg-image hover-overlay ripple shadow-1-strong rounded "
            >
              <img
                src="/assets/img/aromatic2.jpg"
                class="w-100" height="110px"
              />
              <a href="#!">
                <div
                  class="mask"
                  style="background-color: rgba(251, 251, 251, 0.2);"
                ></div>
              </a>
            </div>
          </div>
          <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
            <div
              mdbRipple
              rippleColor="light"
              class="bg-image hover-overlay ripple shadow-1-strong rounded "
            >
              <img
                src="/assets/img/cr3.jpg"
                class="w-100" height="110px"
              />
              <a href="#!">
                <div
                  class="mask"
                  style="background-color: rgba(251, 251, 251, 0.2);"
                ></div>
              </a>
            </div>
          </div>
          <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
            <div
              mdbRipple
              rippleColor="light"
              class="bg-image hover-overlay ripple shadow-1-strong rounded "
            >
              <img
                src="/assets/img/cr6.jpg"
                class="w-100" height="110px"
              />
              <a href="#!">
                <div
                  class="mask"
                  style="background-color: rgba(251, 251, 251, 0.2);"
                ></div>
              </a>
            </div>
          </div>
        </div>
      </section>
      <!-- Section: Images -->
    </div>
   
  
    
  </footer>
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
  <!-- <br> -->
  <footer class="footer-section">
    <div class="container-fluid px-0">
        <div class="footer-cta pt-5 pb-5">
            <div class="row">
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="fas fa-map-marker-alt"></i>
                        <div class="cta-text">
                            <h4>Find us</h4>
                            <span>Bloom & Sprout <br>Pincode: 690518 <br> Kollam District</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="fas fa-phone"></i>
                        <div class="cta-text">
                            <h4>Call us</h4>
                            <span>+91 7345 413 696</span><br>
                            <span>+91 7345 413 697</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="far fa-envelope-open"></i>
                        <div class="cta-text">
                            <h4>Mail us</h4>
                            <span>safa@gmail.com</span><br>
                            <span>sambu@gmail.com</span>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    <div class="copyright-area">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 text-center text-lg-left">
                    <div class="copyright-text">
                        <p>Copyright &copy; 2023, All Right Reserved <a href="">Bloom & Sprout</a></p>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 d-none d-lg-block text-right">
                    <div class="footer-menu">
                        <ul>
                            <li><a href="homepage">Home</a></li>
                            <li><a href="termsandconditions">Terms & Conditions</a></li>
                            <li><a href="privacypolicy">privacy policy </a></li>
                            <li><a href="contact">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    
  

        
   
