<div class="mm">
    <div class="container">
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-8">
    
            <h1 style="color: beige;" class="text-center mt-5 font-weight-bold">Feedback</h1>
            <hr style="color: beige;" class="bg-white">
            <h6 style="color: beige;" class="text-center">Please write your Feedback below:</h6>
            <h3 style="color: beige;" class="mt-4">How do you rate your overall experience?</h3>
           
            <form>
              <label class="radio-inline"><input type="radio" name="experience" value="bad">Bad</label> 
              <label class="radio-inline"><input type="radio" name="experience" value="Average">Average</label> 
              <label class="radio-inline"><input type="radio" name="experience" value="Good">Good</label>
             </form>
            </div>
              </div>
          
              <div class="row">
                <div class="col-md-2"></div>
                <label class="col-md-4">Full Name*<br>
                  <input type="text" id="text" required="" placeholder=""></label>
    
                  <label class="col-md-4">Email*<br>
                    <input type="text" id="text" required="" placeholder=""></label>
                    </div>
    
               <div class="row">
                <div class="col-md-2"></div>
                <label class="col-md-4">Age*<br>
                  <input type="number" id="text" required="" placeholder=""></label>
    
                  <label class="col-md-4">Phone*<br>
                    <input type="number" id="text" required="" placeholder=""></label>
                    </div>
                   
                    <div class="row">
                      <div class="col-md-2"></div>
                      <label class="col-md-8">Message*<br>
                        <textarea id="message" required="" placeholder="" cols="48" rows="5"></textarea></label><br><br><br>
                        <button class="btn btn-dark" style="width: 20%;  margin-left: 35%;">Submit</button>
    
                      </div>
                     
                    
                </div>
              </div>
                
    
