<h2 style="text-align:center">SERVICES</h2>
  <div class="row">
    <div class="column" *ngFor="let s of services">
      <div class="card">
        <img style="width: 395px; height: 320px;" src="{{s.img}}" alt="plant" >
        <div class="container">
          <h2>{{s.title}}</h2>
     <p>{{s.description}}</p>
          <p><button class="button" data-bs-toggle="modal" data-bs-target="#exampleModal">Enquire Now</button></p>
        </div>
      </div>
    </div>
     
  </div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">  Send Enquiry </h1>
       
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
        
        <div class="Enquiry_1">
          <div class="responsive-container-block container">
             <form class="form-box">
              <div class="container-block form-wrapper">
                <div class="mob-text">
                  <p class="text-blk enquiry-head">
                    Write to us for any business enquiries
                  </p>
                  <p class="text-blk enquiry-subhead">
                  </p>
                </div>
                <div class="responsive-container-block" id="i2cbk">
                  <div class="responsive-cell-block wk-tab-12 wk-mobile-12 wk-desk-12 wk-ipadp-12" id="i10mt-3">
                    <p class="text-blk input-title">
                       NAME
                    </p>
                    <input class="input" id="ijowk-3" name="FirstName" placeholder="Please enter first name...">
                  </div>
                  <div class="responsive-cell-block wk-tab-12 wk-mobile-12 wk-desk-12 wk-ipadp-12" id="ip1yp">
                    <p class="text-blk input-title">
                      EMAIL
                    </p>
                    <input class="input" id="ipmgh-3" name="Email" placeholder="Please enter email...">
                  </div>
                  <div class="responsive-cell-block wk-tab-12 wk-mobile-12 wk-desk-12 wk-ipadp-12" id="ih9wi">
                    <p class="text-blk input-title">
                      PHONE NUMBER
                    </p>
                    <input class="input" id="imgis-3" name="PhoneNumber" placeholder="Please enter phone number...">
                  </div>
                  <div class="responsive-cell-block wk-tab-12 wk-mobile-12 wk-desk-12 wk-ipadp-12" id="i634i-3">
                    <p class="text-blk input-title">
                      MESSAGE
                    </p>
                    <textarea class="textinput" id="i5vyy-3" placeholder="Please enter query..."></textarea>
                  </div>
                </div>
                <button class="submit-btn" id="w-c-s-bgc_p-1-dm-id-2">
                  Submit
                </button>
              </div>
            </form>
       </div>
      

